# Streamlit
streamlit

# YouTube Transcript API
youtube-transcript-api

# LangChain Core & Integrations
langchain
langchain-core
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
langchain-community

# Vector Store
faiss-cpu

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
